**/__tests__/*.*term*
**/__tests__/*.pp*
**/__tests__/*.analysis*
**/__tests__/*.task
**/__tests__/*.index
**/__tests__/*.c
**/__tests__/*.gv
**/__tests__/*.csp
**/__tests__/*.gv.dot
**/__tests__/*.pdf
a.out
*~
