bin
target
.cache
include/Metac.def
include/Metac-parenthesize.str
include/Metac-Permissive.def
include/Metac.generated.pp.af
include/Metac.generated.pp
include/Metac.packed.esv
include/Metac.pp.af
include/Metac.rtg
include/Metac.str
include/Metac.tbl
include/metac.rtree
include/metac.ctree
include/metac.ctree.dep
include/metac.jar
include/metac-java.jar
editor/java/trans
editor/*.generated.*
syntax/Metac*.generated.esv
syntax/Metac.generated.pp
syntax/*.sdf
trans/*.pp.generated.str
.settings/org.eclipse.jdt.core.prefs
utils
lib/runtime
lib/*.generated.str
lib-refactoring/*.generated.str
/src-gen
/builddeps
/include/
*.aterm
BaseC/trans/types/*.generated.str
tests/*.pp*
tests/*.analysis*
tests/*.task
tests/*.index
