<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            extensions="mc"
            description="Metac"
            language="Metac"
            derivedFrom="DynamicRoot"
            validator="metac.MetacValidator"
            validatorClass="metac.MetacValidator"
      ></language>
   </extension>
   <extension
         id="metac.parser"
         name="Metac Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="metac.MetacParseController"
            language="Metac">
      </parser>
   </extension>    
</plugin>
